body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin-top: 10px;
  }

  main {
    flex: 1 0 auto;
  }
      

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.flashes h4 {
    line-height: 2;
}

.page-footer{
    margin-top: 7%;
}

.row .col.m7{
  width:30%;
  
}

.card .card-content{
  padding:3px;
}

.card .card-content .card-title{
  line-height: 25px;
}

.card .card-title{
  font-size: 15px;
}


.card .card-image img{
  height: 20rem;
}

.card .card-image .card-title{
  padding:5px;
}

.updateDetails{
  color: #b71c1c;
}

.slider{
  width: 50%;
}

.bgcolour{
  background-color: #49494963;
}

.socials{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.icons{
  font-size: 25px;
  
}

.inside{
  display: flex;
  flex-direction: row;
}

.col1{
  margin: 30px;
}

img{
 height: 80px;

}

.card .card-action:last-child{
  display: flex;
}