*{
  margin: 0;
  padding: 0;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
    
  }

  main {
    flex: 1 0 auto;
  }
    
.container{
  width: 100%;
  max-width: 100%;
}

.featurewine{
  background-color: antiquewhite;
  margin: 0;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.flashes h4 {
    line-height: 2;
}

.page-footer{
    margin-top: 0;
}

.row{
  margin:0;
}

.row .col.m7{
  width:30%;
  
}



.card .card-content{
  padding:3px;
  line-height: 100%;
}

.card .card-content .card-title{
  line-height: 25px;
}

.card .card-title{
  font-size: 15px;
}


.card .card-image img{
  height: 20rem;
}

.card .card-image .card-title{
  padding:5px;
}

.updateDetails{
  color: #b71c1c;
}

.slider{
  width: 50%;
}

.bgcolour{
  background-color: #49494963;
}

.socials{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.icons{
  font-size: 25px;
  
}

.inside{
  display: flex;
  flex-direction: row;
}

.col1{
  margin: 30px;
  
}

img{
 height: 80px;

}

.card .card-action:last-child{
  display: flex;
}

.usersBackground{
  background-color: #f8e8e8;
  width: 100%;
}

.parallax-container{
  height: 600px;
}

.maintext{
  display: flex;

}

.text-box{
  position: absolute;
  bottom: 170px;
  right: 20px;
  border-radius: 20px;
}

.parallax-container{
  z-index: 1;
}

.parallax-container .parallax img{
  opacity: 0.2;
  z-index: -1;
}

.headings{
  display: flex;
  flex-direction: column;
}


.heading2{
  font-size: 10px;
}

.modaldirection{
  display: flex;
  flex-direction: row;
}


@media only screen and (max-width:992px){

  nav .brand-logo{
  left: 40%;
  font-size: 1.5rem;
}

.inside{
  display: flex;
  flex-direction: column;
}

.col1{
  margin: 3px;
}

.row .col.m7{
  width: 100%;
}

h3{
  font-size: 2rem;
}

.btn, .btn-large, .btn-small, .btn-flat{
  font-size: .9rem;
  padding: 0 3px;
}

}
 

@media only screen and (min-width:527px){
.row .col.m3{
height:40rem;
}

.row .col.m6{
  width: 40%;  
  bottom: 1%;
  right: 0;
  left: 55%;
}
}

