{% extends "base.html" %}
{% block content %}

    <h3 class="light-blue-text text-darken-4 center-align">Add Wine</h3>

    <div class="row card-panel grey lighten-5">
        <form class="col s12" method="POST" action="{{ url_for('add_wine') }}">
            <!-- category selection -->
			<div class="row">
				<div class="input-field col s12">
                    <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
					<select id="category_name" name="category_name" class="validate" required>
                        <option value="" disabled selected>Choose Wine Colour</option>
                        {% for category in categories %}
                            <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                        {% endfor %}
                    </select>
					<label for="category_name">Wine Colour</label>
				</div>
			</div>
            <div class="row">
                <div class="input-field col s8">
                    <input placeholder="Malbec" id="grape_variety" name="grape_variety" type="text" class="validate">
                    <label for="grape_variety">Grape Variety</label>
                  </div>
            </div>
            <div class="row">
                <div class="input-field col s8">
                    <input placeholder="Pierre Jaurent" id="producer" name="producer" type="text" class="validate">
                    <label for="producer">Producer</label>
                  </div>
            </div>
            <div class="row">
                <div class="input-field col s8">
                    <input placeholder="France" id="region" name="region" type="text" class="validate">
                    <label for="region">Region</label>
                  </div>
            </div>
            <div class="row">
                <div class="input-field col s8">
                    <input placeholder="2012" id="vintage" name="vintage" type="text" class="validate">
                    <label for="vintage">Vintage</label>
                  </div>
            </div>
            <div class="row">
                <div class="input-field col s8">
                    <input placeholder="10%" id="ABV" type="text" name="ABV" class="validate">
                    <label for="ABV">ABV</label>
                  </div>
            </div>
            <div class="row">
                <div class="input-field col s8">
                    <input placeholder="£10" id="price" type="text" name="price" class="validate">
                    <label for="price">Price</label>
                  </div>
            </div>
            <div class="row">
                <div class="input-field col s8">
                  <textarea id="review" name="review" placeholder="What did you think of this wine?" minlength="5" maxlength="200" class="materialize-textarea"></textarea>
                  <label for="review">Textarea</label>
                </div>
              </div>         
			<div class="row">
				<div class="input-field col s8">
					<div class="switch">
                        <i class="light-blue-text text-darken-4"></i>
						<label for="favourite">
                            <input type="checkbox" id="favourite" name="favourite">
                            <span class="lever"></span>
                            Favourite
                        </label>
					</div>
				</div>
			</div>
            <div class="row">
                <div class="col s12 center-align">
                    <button type="submit" class="btn-large light-blue darken-1 text-shadow">
                        Add Wine <i class="fas fa-plus-square right"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}