{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card-panel">
                <h3 class="center-align ">
                    {{ session['user'] }}'s Profile
                </h3>
            </div>
        </div>
    </div>

    <h4>About Me</h4>
    
    <div >                
        {% for users in profileDetails  if session.user == users.username %}
        <div class="inside">
            <div class="col1">
                {% if users.icon == 'female' %}
                <img src="/static/images/female.png" >
                {% elif users.icon == 'female2' %}
                <img src="/static/images/female2.png" >
                {% elif users.icon == 'female3' %}
                <img src="/static/images/female3.png" >
                {% elif users.icon == 'male' %}
                <img src="/static/images/male.png" >
                {% elif users.icon == 'male2' %}
                <img src="/static/images/male2.png" >
                {% elif users.icon == 'male3' %}
                <img src="/static/images/male3.png" >
                {% else %}
                <img src="/static/images/penguin.png" >
                {% endif %}
                <a href="{{ url_for('update', users_id=users._id) }}" class="updateDetails">Update Your Details</a>

            </div>
                <div class="col1">
                    <strong>Username: </strong>{{users.username}} <br>
                    <strong>Name: </strong>{{users.name}} <br>
                    <strong>Location: </strong>{{users.location}} <br>
                    <strong>Gender: </strong>{{users.gender}} <br>
                    <strong>Favourite Wine Colour: </strong>{{users.favourite}} <br>
                </div> 
                <div class="col1">
                    <strong>Favourite wine region: </strong>{{users.wine_region}} <br>
                    <strong>Sweetness preference: </strong>{{users.sweetness}}<br>
                    <strong> </strong> <br>
                    <strong> </strong><br>
                </div>
        </div>
        {% endfor %}        
    </div>     

       
        <h4 class="red-text text-darken-4 center-align">Edit Wines you've reviewed</h4>
        <div class="row">
            {% for wine in wines if session.user|lower == wine.added_by|lower %}
            <div class="col s12 m7 size">
                <div class="card red darken-4">
                    <div class="card-image">
                        {% if wine.wine_colour == 'Red' %}
                                <img src="/static/images/wineglass.jpg" height="10%">
                            {% elif wine.wine_colour == 'White' %}
                                <img src="/static/images/white.jpg" height="10%">
                            {% elif wine.wine_colour == 'Sparkling' %}
                                <img src="/static/images/Sparkling.png" height="10%">
                            {% else %}
                                <img src="/static/images/rose.jpg" height="10%">
                        {% endif %}                        
                        <span class="card-title grey lighten-1 red-text text-darken-4"><strong>{{ wine.wine_colour}}</strong></span>
                    </div>
                    <div class="card-content white-text">
                        <span class="card-title">
                            <strong>Producer:</strong> {{ wine.producer}}<br>
                            <strong>Region:</strong> {{ wine.region}}<br>
                            <strong>Vintage:</strong> {{ wine.vintage}}<br>
                            <strong>ABV:</strong> {{ wine.ABV}}%<br>
                            <strong>Price:</strong> £{{ wine.price}}<br>
                            <strong>Review:</strong> {{ wine.review}}<br>
                        </span>
                    </div>
                    <div class="card-action">
                        <a href="{{ url_for('edit_wine', wine_id=wine._id) }}" class="btn red darken-2">Edit</a>
                        <a href="{{ url_for('delete_wine', wine_id=wine._id) }}"
                            class="btn  red darken-4">Delete</a>
                    </div>
                </div>
            </div>

            {% else%}
            <h3>You haven't added any wines!</h3>
            <a href="{{ url_for('add_wine')}}" class="btn-large red text-shadow">
                Add Wine <i class="fas fa-times-circle right"></i>
            </a>

            {% endfor %}
        </div>


        


        
               
    
            
        
    
    {% endblock %}