{% extends "base.html" %}
{% block content %}
<div class="parallax-container">
  <div class="parallax"><img src="/static/images/main1.jpg">
    <section class="maintext">
      <div class="row">
        <div class="col s12 m6 text-box">
          <div class="card white">
            <div class="card-content">
              <p class="center-align red-text text-darken-4">Explore the world of wine!</p><br>
              <p class="center-align red-text text-darken-4">Add the wines you've tasted</p><br>
              <p class="center-align red-text text-darken-4">Share your experiences with everyone!</p> <br>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
    

<section class="featurewine"> 
  <div class="divider"></div>
  <div class="headings"> 
    <div class="heading1">
      <h5 class="center-align"><strong>Recommended Wines </strong></h5>
    </div>  
  </div> 
  <div class="row card panel grey lighten-5">
    <form action="{{ url_for('search')}}" method="POST" class="col 12">
      <div class="row valign-wrapper center-align">
        <div class="input-field col s12 m8">
          <i class="fa-solid fa-magnifying-glass prefix red-text text-darken-4"></i>
          <input type="text" name="query" id="query" minlength="3" class="validate" required>
          <label for="query">Search Wines</label>
        </div>
        <div class="col 12 m4">
          <a href="{{url_for('get_wine')}}" class red btn text-shadow>Reset</a>
          <button type="submit" class="red darken-4 btn text-shadow">
          <i class="fa-solid fa-magnifying-glass left red-text text-darken-4"></i> Search
          </button>
        </div>
      </div>
    </form>
  </div>
      <div class="row">
        {% for wine in wines if wine.recommend == 'yes' %}
        <div class="col s12 m3 size">
          <div class="card transparent">
            <div class="card-image">
              {% if wine.wine_colour == 'Red' %}
              <img src="/static/images/wineglass.jpg" height="10%" draggable="false">
              {% elif wine.wine_colour == 'White' %}
              <img src="/static/images/white.jpg" height="10%" draggable="false">
              {% elif wine.wine_colour == 'Sparkling' %}
              <img src="/static/images/Sparkling.png" height="10%" draggable="false">
              {% else %}
              <img src="/static/images/rose.jpg" height="10%" draggable="false">
              {% endif %}
              <span
                class="card-title grey lighten-1 red-text text-darken-4"><strong>{{ wine.wine_colour}}</strong></span>
            </div>
            <div class="card-content red-text text-darken-4">
              <span class="card-title">
                <strong>Variety:</strong> {{ wine.grape_variety}}<br>
                <strong>Producer:</strong> {{ wine.producer}}<br>
                <strong>Region:</strong> {{ wine.region}}<br>
                <strong>Vintage:</strong> {{ wine.vintage}}<br>
                <strong>ABV:</strong> {{ wine.ABV}}%<br>
                <strong>Added By:</strong> {{wine.added_by}}<br>
              </span>
            </div>
            <div class="card-action homebtn">
              {% if session.user %}
              <a href="#" class="btn red darken-4">wish list</a>
              {%else%}
              <a href="{{ url_for('register') }}" class="btn red darken-4">Register to add wine</a> 
              {% endif %}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      
    </section>   
    <br>   
    <div class="divider"></div>
    <section class="usersBackground">      
      <div class="parallax-container">          
        <div class="parallax"><img src="/static/images/main2.jpg">
      </div>
    </div>  
    <div class="headings"> 
      <div class="heading1">
        <h5 class="center-align"><strong>Meet wine enthusiasts local to you </strong></h5>
      </div>
    <div class="heading2">
      <h6 class="center-align"><a href="{{ url_for('register') }}">Register to follow others</a></h6>
    </div>
    </div> 
    <div class="row">
      {% for users in user  %}
        <div class="col s12 m3 size ">
          <div class="card transparent ">
            <div class="card-image">
              {% if users.icon == 'female' %}
                <img src="/static/images/female.png">
                {% elif users.icon == 'female2' %}
                  <img src="/static/images/female2.png">
                {% elif users.icon == 'female3' %}
                  <img src="/static/images/female3.png">
                {% elif users.icon == 'male' %}
                  <img src="/static/images/male.png">
                {% elif users.icon == 'male2' %}
                  <img src="/static/images/male2.png">
                {% elif users.icon == 'male3' %}
                  <img src="/static/images/male3.png">
                {% else %}
                  <img src="/static/images/pic.png">
              {% endif %}
              <span class="card-title grey lighten-1 red-text text-darken-4"><strong>{{ users.username}}</strong></span>
            </div>
            <div class="card-content red-text text-darken-4 ">
              <span class="card-title">
                <strong>Fave wine:</strong> {{ users.favourite}}<br>
                <strong>Fave region:</strong> {{ users.wine_region}}<br>
                <strong>Location:</strong> {{ users.location}}<br>
              </span>
            </div>
            <div class="card-action transparent ">
              {% if session.user %}
              <a href="#" class="btn red darken-2">Follow User</a>
              {%else%}
              <a href="{{ url_for('register') }}" class="btn red darken-4">Register to follow others</a>
              {% endif %}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </section>

          
      
    

{% endblock %}